@using AlMarket.MVC.ViewModels;
@{
    KimikViewModel viewModel = Model;

    var kimiks = viewModel.Kimiks;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bizkimik.css">
    <title>Document</title>
</head>

<body>
    @await Component.InvokeAsync("Header")
    <section class="kimik-section p-0">
        @foreach (var kimik in kimiks)
        {
            <div class="kimik-main">
                <div class="container">
                    <div class="kimik-text col-12 col-lg-8">
                        <h1 class="pb-4">Biz kimik</h1>
                        <p>
                            @kimik.Text
                        </p>
                    </div>
                </div>
            </div>
        }
    </section>
</body>
