* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.al-metbex-header-section {
    padding-top: 150px !important;
}

section {
    position: relative;

    .mexbex-partner-heading {
        height: 463px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            animation: kenburns-top 5s cubic-bezier(0.19, 1, 0.22, 1) both;
        }

        .heading-text {
            position: absolute !important;
            top: 62% !important;

            .heading {
                color: #fff;
                font-family: 'Lexend Deca', sans-serif;
                font-size: calc(21.6px + .9vw);
                animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
            }
        }

        &::before {
            content: '';
            background-color: rgba(84, 0, 12, 0.5);
            width: 100%;
            height: 76%;
            object-fit: cover;
            position: absolute;
            top: 149px;
            z-index: 1;
        }
    }

    .tarkıbı-main {
        position: relative;

        &::before {
            content: '';
            background-color: #f8f8f8;
            width: 100%;
            left: 0px;
            position: absolute;
            top: 0;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            height: 412px;
            z-index: -1;
        }

        .left {
            position: relative;
            top: -63px;

            .metbex-big-slider {
                border-radius: 20px;

                .swiper-slide {
                    width: 624px;
                    opacity: 1;
                    transform: translate3d(0px, 0px, 0px);
                    transition-duration: 0ms;

                    img {
                        width: 100%;
                        border-radius: 20px;
                        height: 50vh;
                        object-fit: cover;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: linear-gradient(0, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.3) 100%);
                    }
                }
            }

            .swiper {
                margin-left: auto;
                margin-right: auto;
                position: relative;
                overflow: hidden;
                list-style: none;
                padding: 0;
                z-index: 1;

                .swiper-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    display: flex;
                    transition-property: transform;
                    box-sizing: content-box;


                }

            }
        }

        .right {
            position: relative;
            padding-right: calc(22.5px + 1.40625vw);

            .heading {
                font-size: calc(20.4px + .225vw);
                font-weight: 800;
            }

            p {
                line-height: 2px;

                strong {
                    font-weight: bolder;
                }
            }
        }

    }

    .hazirlanma-gaydasi {
        .headings {
            font-size: calc(20.4px + .225vw);
        }

        p {
            border-radius: 20px;
            font-family: 'Lexend Deca', sans-serif;
            overflow: hidden;
            background-color: #f8f8f8;
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            font-size: 18px;
            line-height: 22px;
            position: relative;
            padding: 40px 25px;
        }
    }
}

.al-metbex-detail-section {
    .hazırlanma-gaydası {
        .headings {
            font-size: calc(20.4px + 0.225vw);
            font-family: 'Lexend Deca', sans-serif;
        }

        p {
            background-color: rgb(248, 248, 248);
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            font-size: 18px;
            line-height: 22px;
            font-family: 'Lexend Deca', sans-serif;
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            padding: 40px 25px;
        }
    }
}

@media(max-width:576px) {
    body {
        overflow-x: hidden;
    }

    header .navbar .navbar-main .lang-down .btn-lang {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .mexbex-partner-heading {
        &::before {
            content: '';
            background-color: rgba(84, 0, 12, 0.5);
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .heading-text {
            z-index: 2;
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .mexbex-partner-heading {
        &::before {
            content: '';
            background-color: rgba(84, 0, 12, 0.5);
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .heading-text {
            z-index: 2;
        }
    }
}